.grey {
  background-color: #cfdade; }

.white {
  background-color: #e5e8e9; }

.blue {
  background-color: #075f85; }

.green {
  background-color: #04b542; }

.red {
  background-color: #fc0315; }

.yellow {
  background-color: #f6b403; }

.light-blue {
  background-color: #92b1be; }

.dark-grey {
  background-color: #757575; }

.brown {
  background-color: #bc7101; }

/* and more and more ... */
/* and more and more ... */
